button{
    width: 337px;
    height: 31px;
    font-size: 23px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    transition: 1.1s;
}
button:hover{
    width: 302px;
    height: 31px;
    font-size: 23px;
    background-color: black;
    color: rgb(156, 7, 241);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    transition: 1.1s;
}
#one{
    width: 335px;
    height: 31px;
    font-size: 21px;
    outline: 0;
    border: 1px solid black;
}
#one:focus{
    width: 335px;
    height: 31px;
    font-size: 21px;
    outline: 0;
    border: 1px solid rgb(156, 7, 241);
}

#ex_1{
    font-size: 14px;
}

#one_b{
font-size: 25px;
color: #008373;
margin-left: -267px;
}
#two_b{
font-size: 25px;
color: #DB4437;
margin-left: -237px;
}
#three_b{
font-size: 25px;  
color: #F1A031;
margin-left: -177px;
}
#four_b{
    font-size: 25px;  
  color: #FFCC00; 
  margin-left: -239px;
}
#five_b{
font-size: 25px;  
color: #4A00A0;  
margin-left: -247px;
}
#title{
    margin-right: 0px;
}
/* // 2022 ©  GezegenDigital */
